extends base.pug

block content 
    //- 'data-' 원하는 어떤 데이터정보든지 찾을 수 있고, 저장할 수 있다.
    div#videoContainer(data-id=video._id) 
        //- /uploads/videos/파일이름 으로 나올 것이다.
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        //- video.owner의 'id'는 'ObjectId'인데, loggedInuser._id는 'string'형태의 데이터라서, 둘다 String()로 만들어준다.
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn 
        div.video__comments 
            form.video__comment-form#commentFrom
                textarea(cols="30", rows="10", placeholder="Write a nice comment...")
                button Add Comment

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")